{% load movie_tag %}
<div class="search-bar w3layouts-newsletter">
    <h3 class="sear-head editContent">Поиск фильма</h3>
    <form action="#" method="post" class="d-flex editContent">
        <input type="search" placeholder="Введите название..." name="search"
               class="form-control" required="">
        <button class="btn1 btn"><span class="fa fa-search"
                                       aria-hidden="true"></span></button>
    </form>
</div>
<!--preference -->
<div class="left-side my-4">
    <h3 class="sear-head editContent">Жанры</h3>
    <ul class="w3layouts-box-list">
        <li class="editContent">
            <input type="checkbox" class="checked">
            <span class="span editContent">Аниме</span>
        </li>
        <li class="editContent">
            <input type="checkbox" class="checked">
            <span class="span editContent">Боевики</span>
        </li>
        <li class="editContent">
            <input type="checkbox" class="checked">
            <span class="span editContent">Комедии</span>
        </li>
        <li class="editContent">
            <input type="checkbox" class="checked">
            <span class="span editContent">Ужасы</span>
        </li>
    </ul>
</div>
<!-- // preference -->
<!-- discounts -->
<div class="left-side">
    <h3 class="sear-head editContent">Год</h3>
    <ul class="w3layouts-box-list">
        <li class="editContent">
            <input type="checkbox" class="checked">
            <span class="span editContent">2020</span>
        </li>
        <li class="editContent">
            <input type="checkbox" class="checked">
            <span class="span editContent">2019</span>
        </li>
        <li class="editContent">
            <input type="checkbox" class="checked">
            <span class="span editContent">2018</span>
        </li>
        <li>
            <input type="checkbox" class="checked">
            <span class="span editContent">2017</span>
        </li>
        <li class="editContent">
            <input type="checkbox" class="checked">
            <span class="span editContent">2016</span>
        </li>
        <li class="editContent">
            <input type="checkbox" class="checked">
            <span class="span editContent">2015</span>
        </li>
    </ul>
</div>
<!-- //discounts -->
<!-- reviews -->
<div class="customer-rev left-side my-4">
    <h3 class="sear-head editContent">Рейтинг</h3>
    <ul class="w3layouts-box-list">
        <li>
            <a href="#">
                <span class="fa fa-star" aria-hidden="true"></span>
                <span class="fa fa-star" aria-hidden="true"></span>
                <span class="fa fa-star" aria-hidden="true"></span>
                <span class="fa fa-star" aria-hidden="true"></span>
                <span class="fa fa-star" aria-hidden="true"></span>
                <span class="editContent">5.0</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="fa fa-star" aria-hidden="true"></span>
                <span class="fa fa-star" aria-hidden="true"></span>
                <span class="fa fa-star" aria-hidden="true"></span>
                <span class="fa fa-star" aria-hidden="true"></span>
                <span class="fa fa-star-o" aria-hidden="true"></span>
                <span class="editContent">4.0</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="fa fa-star" aria-hidden="true"></span>
                <span class="fa fa-star" aria-hidden="true"></span>
                <span class="fa fa-star" aria-hidden="true"></span>
                <span class="fa fa-star-half-o" aria-hidden="true"></span>
                <span class="fa fa-star-o" aria-hidden="true"></span>
                <span class="editContent">3.5</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="fa fa-star" aria-hidden="true"></span>
                <span class="fa fa-star" aria-hidden="true"></span>
                <span class="fa fa-star" aria-hidden="true"></span>
                <span class="fa fa-star-o" aria-hidden="true"></span>
                <span class="fa fa-star-o" aria-hidden="true"></span>
                <span class="editContent">3.0</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="fa fa-star" aria-hidden="true"></span>
                <span class="fa fa-star" aria-hidden="true"></span>
                <span class="fa fa-star-half-o" aria-hidden="true"></span>
                <span class="fa fa-star-o" aria-hidden="true"></span>
                <span class="fa fa-star-o" aria-hidden="true"></span>
                <span class="editContent">2.5</span>
            </a>
        </li>
    </ul>
</div>
{% get_last_movies count=3 %}

